<!DOCTYPE html>
<html>
<head>
        <title>Post Details</title>
</head>
<body>


<h1> <%= @post_selected.title %> </h1>
<p><em>  Publish by <%= @post_selected.author %>  at <%= @post_selected.date %> </em> </p>

<p> <%=  @post_selected.content_post %> 
<br>  <br> <br> 
 Category: <%= @post_selected.category %>

</p>


<a href="../blog">Blog's Home</a>

</body>
</html>
